﻿@{
    ViewBag.Title = "Index";
}
<script type="text/javascript" src="/Scripts/jquery-1.8.0.js"></script>
<script type='text/javascript' src='/Scripts/knockout-2.1.0.js'></script>
<style>
    .itemStyle
    {
        float: left;
        width: 150px;
        height: 350px;
        margin: 20px;
        background-color: #d4cece;
    }
    .JsonTrace
    {
        float:left;
        width:500px;
        height:500px;
        background-color:#d6f7fa;
    }
</style>
<h2>Your App</h2>
<button data-bind="click: build">Build App</button>
<button data-bind="click: addItem">Add Item</button>
<input data-bind="value: NewItemName"/>
<div data-bind="foreach: items">
    <div class="itemStyle">
        <p data-bind="text: name"></p>
        <button data-bind="click: addField">Add Field</button>
        <input data-bind="value: NewFieldName" size="5" />
        <div data-bind="foreach: fields">
            <p data-bind="text: name"></p>
        </div>
    </div>

</div>
<div class="JsonTrace" >
<pre data-bind="text: ko.toJSON($root, null, 2)"></pre>
 </div>
<script type="text/javascript">

    // Class to represent a row in the seat reservations grid
    function Item(name) {
        var self = this;
        self.NewFieldName = ko.observable();
        self.name = name;
       
        self.fields = ko.observableArray([
                new Field("Name", "Text"),
                new Field("Name", "Text")
        ]);

        // Operations
        self.addField = function() {
            self.fields.push(new Field(this.NewFieldName(), "Text"));
        };
    }
    
    function Field(name,type) {
        var self = this;
        self.name = name;
        self.type = type;
    }
    // This is a simple *viewmodel* - JavaScript that defines the data and behavior of your UI
    function AppViewModel() {
        var self = this;
        self.NewItemName = ko.observable();
        // Editable data
        self.items = ko.observableArray([
            new Item("Product"),
            new Item("Custumer")
        ]);


        self.addItem = function() {
            self.items.push(new Item(this.NewItemName()));
        };


        self.build = function() {
            //  ko.utils.postJson("/Home/Save", this.items);
            $.ajax({
                url: "/Home/Build/",
                type: 'post',
                data: { "json": ko.toJSON(this) },
                dataType: 'json',
                success: function(result) {
                    $('#message').html(result);
                }
            });
        };
       
    }

    // Activates knockout.js
    ko.applyBindings(new AppViewModel());
</script>
